:root {
	--theme-primary: #263340;
    --theme-pink: #FF2D82;
    --theme-secondary: #0145f2;
    --theme-light: #6B8299;
    --theme-dark: #1A242D;
    --theme-white: #ffffff;
    --theme-shade: #1d2933;
    --theme-purple: #743ad5;
}