@import '../../utils/theme.css';

.footer-section {
    background: var(--theme-primary);
    color: var(--theme-light);
    padding: 2.5rem 0;
}

.footer-section .social-media-wrapper {
    background-color: var(--theme-secondary);
    border-radius: 100%;
    width: 45px;
    height: 45px;
}

.footer-section .social-media-wrapper img {
    width: 100%;
}

.footer-section p {
    font-size: 12px;
}